In [7]:
import pandas as pd

In [8]:
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [46]:
with open('/content/drive/My Drive/ECE 539/ECE 539 Project/df.csv', 'r') as f: 
  df= pd.read_csv(f)

with open('/content/drive/My Drive/ECE 539/ECE 539 Project/GME_prices.csv', 'r') as f: 
  gme= pd.read_csv(f)

In [47]:
gme['Date'] = pd.to_datetime(gme['Date']).dt.date

In [48]:
df

,Unnamed: 0,title,score,comms_num,body,timestamp,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,gme,amc,title_sentiment,body_sentiment,Date,Time
0,0,"['$', 'cbat', '$', 'sunw', '$', 'spi', '$', 'o...",4,11,"['cbat', 'going', 'great', 'play', 'yet', 'new...",9/29/20 3:46,NaN,NaN,NaN,NaN,0,0,-0.2960,0.9337,2020-09-29,03:46:00
1,1,"['got', 'late', 'gme', 'believe', 'cause', 'wi...",75,14,"['guys', 'amazing', 'thank', 'sending', 'gme',...",1/28/21 9:08,NaN,NaN,NaN,NaN,1,1,-0.4019,0.7351,2021-01-28,09:08:00
2,2,"['highest', 'si', '%', 'float', 'end', 'busine...",26,22,"['update', 'daily', 'market', 'close', 'top', ...",1/28/21 9:08,NaN,NaN,NaN,NaN,1,0,0.0000,0.4588,2021-01-28,09:08:00
3,3,"['discord', 'still']",0,6,"['see', 'talk', 'anti', 'bot', 'measure', 'adm...",1/28/21 9:08,NaN,NaN,NaN,NaN,0,0,-0.4019,0.6786,2021-01-28,09:08:00
4,4,"['amc', '?']",67,55,"['hey', 'retards', 'hell', 'going', 'amc', 'ho...",1/28/21 9:08,NaN,NaN,NaN,NaN,0,1,0.0000,-0.8360,2021-01-28,09:08:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24718,24718,"['zeta', 'global', 'holdings…', 'dd']",0,11,"['ok', 'degenerates', 'like', 'introduce', 'co...",8/16/21 6:57,NaN,NaN,NaN,NaN,0,0,0.0000,0.9913,2021-08-16,06:57:00
24719,24719,"['rkt', 'week', 'ahead']",58,29,"['rkts', 'beginning', 'show', 'signs', 'life',...",8/16/21 7:17,NaN,NaN,NaN,NaN,0,0,0.0000,0.9873,2021-08-16,07:17:00
24720,24720,"['verizon', '(', '$', 'vz', ')', '–', 'boomer'...",13,17,"['wife', 'decided', 'go', 'boyfriend', 'house'...",8/16/21 7:51,NaN,NaN,NaN,NaN,0,0,0.0000,0.9917,2021-08-16,07:51:00
24721,24721,"['$', 'hipo', '-', 'hippo', 'holdings']",13,24,"['hipo', 'hippo', 'holdings', 'degenerates', '...",8/16/21 7:52,NaN,NaN,NaN,NaN,0,0,0.0000,0.9648,2021-08-16,07:52:00
24722,24722,the clov clinician letter is worth read,59,29,i am doctor trained in internal medicine and g...,8/16/21 9:26,NaN,NaN,NaN,NaN,0,0,0.0000,0.0000,2021-08-16,09:26:00

In [49]:
gme

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-01-04,19.000000,19.100000,17.150000,17.250000,17.250000,10022500
1,2021-01-05,17.350000,18.080000,17.230000,17.370001,17.370001,4961500
2,2021-01-06,17.340000,18.980000,17.330000,18.360001,18.360001,6056200
3,2021-01-07,18.469999,19.450001,18.020000,18.080000,18.080000,6129300
4,2021-01-08,18.180000,18.299999,17.080000,17.690001,17.690001,6482000
...,...,...,...,...,...,...,...
329,2022-04-25,135.410004,139.710007,133.279999,135.949997,135.949997,1534800
330,2022-04-26,135.639999,136.800003,126.160004,127.599998,127.599998,1545700
331,2022-04-27,127.269997,132.679993,124.580002,129.839996,129.839996,1305900
332,2022-04-28,130.279999,132.600006,120.500000,129.309998,129.309998,1767500
333,2022-04-29,127.300003,130.889999,123.010002,124.010002,124.010002,818369

In [1]:
# for i in range(len(df)):
#   print(gme.index[gme['Date']==df.Date[i]].tolist())
#   # df[["Open"]][i] = gme[["Open"]][(gme.Date == df.Date[i])]
mega = df.merge(right=gme, left_on='Date', left=df, right_on='Date')

NameError: ignored

In [53]:
mega

Empty DataFrame
Columns: [Unnamed: 0, title, score, comms_num, body, timestamp, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, gme, amc, title_sentiment, body_sentiment, Date, Time, Open, High, Low, Close, Adj Close, Volume]
Index: []

[0 rows x 22 columns]